/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bpicons/bpicons.woff') format('woff'),
	url('../fonts/bpicons/bpicons.ttf') format('truetype'),
	url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
} /* Made with http://icomoon.io/ */

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main styles */
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #CECECE;
	background: #121212;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: #516977;
}

/* Blueprint header */
.bp-header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 6em 1.875em 1.875em;
	text-align: center;
}

.bp-header h1 {
	font-size: 2.125em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 .6em 0;
}

.bp-header > span {
	font-weight: 700;
	font-size: 0.85em;
	color: #5C5EDC;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 .6em .1em;
	letter-spacing: .5em;
	text-transform: uppercase;
	text-indent: 30px;
}

.bp-header > span span:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-header > span span:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: .8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: #5C5EDC;
}

.bp-header nav {
	text-align: center;
	margin: 0 auto;
}

.bp-header nav a {
	position: relative;
	display: inline-block;
	width: 5.2em;
	height: 2.5em;
	margin: 0em;
	text-align: center;
	border-radius: 0%;
}

.bp-header nav a > span {
	display: none;
}

.bp-header nav a:hover:before {
	content: attr(data-info);
	color: #595A5F;
	font-weight: bold;
	font-size: 0.85em;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
}

.bp-header nav a:hover {
	background: none;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5C5EDC;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.bp-header nav .bp-icon:after {
	line-height: 1.4;
	position: absolute;
	top: 0;
	left: -15px;
	width: 130%;
	height: 100%;
	text-indent: 0;
}

.bp-header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: '\e000';
}

.bp-icon-next-mentok:after {
	content: '\e000';
	color: #2A2B30;
}

.bp-icon-drop:after {
	content: '\e001';
}

.bp-icon-archive:after {
	content: '\e002';
}

.bp-icon-about:after {
	content: '\e003';
}

.bp-icon-prev:after {
	content: '\e004';
}

.bp-icon-prev-mentok:after {
	content: '\e004';
	color: #2A2B30;
}

.bp-icon-PreHistory:after {
	content: 'Pre-History';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-Before1000BC:after {
	content: 'Before 1000 BC';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-1000-500BC:after {
	content: '1000 - 500 BC';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-500BC-AD1:after {
	content: '500 BC - AD 1';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-1-500:after {
	content: '1 - 500';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-500-1000:after {
	content: '500 - 1000';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-1000-1500:after {
	content: '1000 - 1500';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}

.bp-icon-1500-2017:after {
	content: '1500 - 2017';
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f0f0f0;
}


@media screen and (max-width: 40em) {
	.bp-header h1 {
		font-size: 1.8em;
	}
}

.footer {
  position: relative;
  width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0em 1.875em 1.875em;
	text-align: center;
  background: #2A2B30;
  text-align: center;
  font-size: 0.85em;
}

#modal {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modal:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}


#modal h2 {
  margin: 0;
  color: #fff
}

#modal .btn { float: right }

#modal .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modal-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modal .copy { background: #2A2B30 }

#modal .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modal2 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modal2:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}


#modal2 h2 {
  margin: 0;
  color: #fff
}

#modal2 .btn { float: right }

#modal2 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modal2-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modal2 .copy { background: #2A2B30 }

#modal2 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}
