#modalmiddleeast1 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast1:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast1 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast1 .btn { float: right }

#modalmiddleeast1 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast1-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast1 .copy { background: #2A2B30 }

#modalmiddleeast1 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast2 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast2:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast2 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast2 .btn { float: right }

#modalmiddleeast2 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast2-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast2 .copy { background: #2A2B30 }

#modalmiddleeast2 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}



#modalmiddleeast3 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast3:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast3 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast3 .btn { float: right }

#modalmiddleeast3 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast3-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast3 .copy { background: #2A2B30 }

#modalmiddleeast3 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}



#modalmiddleeast4 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast4:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast4 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast4 .btn { float: right }

#modalmiddleeast4 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast4-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast4 .copy { background: #2A2B30 }

#modalmiddleeast4 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}



#modalmiddleeast5 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast5:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast5 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast5 .btn { float: right }

#modalmiddleeast5 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast5-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast5 .copy { background: #2A2B30 }

#modalmiddleeast5 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope1 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope1:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope1 h2 {
  margin: 0;
  color: #fff
}

#modaleurope1 .btn { float: right }

#modaleurope1 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope1-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope1 .copy { background: #2A2B30 }

#modaleurope1 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope2 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope2:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope2 h2 {
  margin: 0;
  color: #fff
}

#modaleurope2 .btn { float: right }

#modaleurope2 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope2-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope2 .copy { background: #2A2B30 }

#modaleurope2 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope3 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope3:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope3 h2 {
  margin: 0;
  color: #fff
}

#modaleurope3 .btn { float: right }

#modaleurope3 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope3-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope3 .copy { background: #2A2B30 }

#modaleurope3 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope4 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope4:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope4 h2 {
  margin: 0;
  color: #fff
}

#modaleurope4 .btn { float: right }

#modaleurope4 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope4-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope4 .copy { background: #2A2B30 }

#modaleurope4 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope5 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope5:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope5 h2 {
  margin: 0;
  color: #fff
}

#modaleurope5 .btn { float: right }

#modaleurope5 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope5-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope5 .copy { background: #2A2B30 }

#modaleurope5 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope6 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope6:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope6 h2 {
  margin: 0;
  color: #fff
}

#modaleurope6 .btn { float: right }

#modaleurope6 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope6-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope6 .copy { background: #2A2B30 }

#modaleurope6 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope7 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope7:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope7 h2 {
  margin: 0;
  color: #fff
}

#modaleurope7 .btn { float: right }

#modaleurope7 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope7-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope7 .copy { background: #2A2B30 }

#modaleurope7 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope8 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope8:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope8 h2 {
  margin: 0;
  color: #fff
}

#modaleurope8 .btn { float: right }

#modaleurope8 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope8-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope8 .copy { background: #2A2B30 }

#modaleurope8 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope9 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope9:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope9 h2 {
  margin: 0;
  color: #fff
}

#modaleurope9 .btn { float: right }

#modaleurope9 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope9-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope9 .copy { background: #2A2B30 }

#modaleurope9 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-11 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-11:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-11 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-11 .btn { float: right }

#modalmiddleeast-11 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-11-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-11 .copy { background: #2A2B30 }

#modalmiddleeast-11 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-12 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-12:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-12 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-12 .btn { float: right }

#modalmiddleeast-12 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-12-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-12 .copy { background: #2A2B30 }

#modalmiddleeast-12 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-13 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-13:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-13 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-13 .btn { float: right }

#modalmiddleeast-13 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-13-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-13 .copy { background: #2A2B30 }

#modalmiddleeast-13 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-14 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-14:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-14 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-14 .btn { float: right }

#modalmiddleeast-14 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-14-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-14 .copy { background: #2A2B30 }

#modalmiddleeast-14 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-15 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-15:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-15 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-15 .btn { float: right }

#modalmiddleeast-15 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-15-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-15 .copy { background: #2A2B30 }

#modalmiddleeast-15 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-16 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-16:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-16 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-16 .btn { float: right }

#modalmiddleeast-16 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-16-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-16 .copy { background: #2A2B30 }

#modalmiddleeast-16 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-17 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-17:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-17 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-17 .btn { float: right }

#modalmiddleeast-17 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-17-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-17 .copy { background: #2A2B30 }

#modalmiddleeast-17 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-18 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-18:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-18 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-18 .btn { float: right }

#modalmiddleeast-18 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-18-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-18 .copy { background: #2A2B30 }

#modalmiddleeast-18 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-19 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-19:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-19 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-19 .btn { float: right }

#modalmiddleeast-19 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-19-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-19 .copy { background: #2A2B30 }

#modalmiddleeast-19 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-110 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-110:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-110 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-110 .btn { float: right }

#modalmiddleeast-110 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-110-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-110 .copy { background: #2A2B30 }

#modalmiddleeast-110 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-111 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-111:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-111 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-111 .btn { float: right }

#modalmiddleeast-111 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-111-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-111 .copy { background: #2A2B30 }

#modalmiddleeast-111 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast-112 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast-112:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast-112 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast-112 .btn { float: right }

#modalmiddleeast-112 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast-112-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast-112 .copy { background: #2A2B30 }

#modalmiddleeast-112 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}



#modaleurope-11 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope-11:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope-11 h2 {
  margin: 0;
  color: #fff
}

#modaleurope-11 .btn { float: right }

#modaleurope-11 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope-11-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope-11 .copy { background: #2A2B30 }

#modaleurope-11 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope-12 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope-12:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope-12 h2 {
  margin: 0;
  color: #fff
}

#modaleurope-12 .btn { float: right }

#modaleurope-12 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope-12-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope-12 .copy { background: #2A2B30 }

#modaleurope-12 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope-13 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope-13:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope-13 h2 {
  margin: 0;
  color: #fff
}

#modaleurope-13 .btn { float: right }

#modaleurope-13 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope-13-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope-13 .copy { background: #2A2B30 }

#modaleurope-13 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope-14 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope-14:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope-14 h2 {
  margin: 0;
  color: #fff
}

#modaleurope-14 .btn { float: right }

#modaleurope-14 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope-14-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope-14 .copy { background: #2A2B30 }

#modaleurope-14 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast21 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast21:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast21 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast21 .btn { float: right }

#modalmiddleeast21 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast21-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast21 .copy { background: #2A2B30 }

#modalmiddleeast21 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast22 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast22:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast22 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast22 .btn { float: right }

#modalmiddleeast22 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast22-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast22 .copy { background: #2A2B30 }

#modalmiddleeast22 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast23 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast23:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast23 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast23 .btn { float: right }

#modalmiddleeast23 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast23-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast23 .copy { background: #2A2B30 }

#modalmiddleeast23 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast24 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast24:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast24 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast24 .btn { float: right }

#modalmiddleeast24 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast24-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast24 .copy { background: #2A2B30 }

#modalmiddleeast24 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast25 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast25:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast25 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast25 .btn { float: right }

#modalmiddleeast25 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast25-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast25 .copy { background: #2A2B30 }

#modalmiddleeast25 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast26 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast26:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast26 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast26 .btn { float: right }

#modalmiddleeast26 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast26-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast26 .copy { background: #2A2B30 }

#modalmiddleeast26 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast27 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast27:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast27 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast27 .btn { float: right }

#modalmiddleeast27 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast27-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast27 .copy { background: #2A2B30 }

#modalmiddleeast27 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modalmiddleeast28 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modalmiddleeast28:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modalmiddleeast28 h2 {
  margin: 0;
  color: #fff
}

#modalmiddleeast28 .btn { float: right }

#modalmiddleeast28 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modalmiddleeast28-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modalmiddleeast28 .copy { background: #2A2B30 }

#modalmiddleeast28 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope21 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope21:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope21 h2 {
  margin: 0;
  color: #fff
}

#modaleurope21 .btn { float: right }

#modaleurope21 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope21-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope21 .copy { background: #2A2B30 }

#modaleurope21 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}


#modaleurope22 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope22:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope22 h2 {
  margin: 0;
  color: #fff
}

#modaleurope22 .btn { float: right }

#modaleurope22 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope22-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope22 .copy { background: #2A2B30 }

#modaleurope22 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope23 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope23:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope23 h2 {
  margin: 0;
  color: #fff
}

#modaleurope23 .btn { float: right }

#modaleurope23 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope23-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope23 .copy { background: #2A2B30 }

#modaleurope23 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope24 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope24:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope24 h2 {
  margin: 0;
  color: #fff
}

#modaleurope24 .btn { float: right }

#modaleurope24 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope24-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope24 .copy { background: #2A2B30 }

#modaleurope24 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope25 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope25:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope25 h2 {
  margin: 0;
  color: #fff
}

#modaleurope25 .btn { float: right }

#modaleurope25 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope25-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope25 .copy { background: #2A2B30 }

#modaleurope25 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope26 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope26:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope26 h2 {
  margin: 0;
  color: #fff
}

#modaleurope26 .btn { float: right }

#modaleurope26 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope26-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope26 .copy { background: #2A2B30 }

#modaleurope26 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope27 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope27:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope27 h2 {
  margin: 0;
  color: #fff
}

#modaleurope27 .btn { float: right }

#modaleurope27 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope27-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope27 .copy { background: #2A2B30 }

#modaleurope27 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope28 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope28:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope28 h2 {
  margin: 0;
  color: #fff
}

#modaleurope28 .btn { float: right }

#modaleurope28 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope28-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope28 .copy { background: #2A2B30 }

#modaleurope28 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope29 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope29:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope29 h2 {
  margin: 0;
  color: #fff
}

#modaleurope29 .btn { float: right }

#modaleurope29 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope29-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope29 .copy { background: #2A2B30 }

#modaleurope29 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope210 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope210:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope210 h2 {
  margin: 0;
  color: #fff
}

#modaleurope210 .btn { float: right }

#modaleurope210 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope210-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope210 .copy { background: #2A2B30 }

#modaleurope210 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}



#modaleurope211 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope211:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope211 h2 {
  margin: 0;
  color: #fff
}

#modaleurope211 .btn { float: right }

#modaleurope211 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope211-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope211 .copy { background: #2A2B30 }

#modaleurope211 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope212 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope212:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope212 h2 {
  margin: 0;
  color: #fff
}

#modaleurope212 .btn { float: right }

#modaleurope212 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope212-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope212 .copy { background: #2A2B30 }

#modaleurope212 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope213 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope213:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope213 h2 {
  margin: 0;
  color: #fff
}

#modaleurope213 .btn { float: right }

#modaleurope213 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope213-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope213 .copy { background: #2A2B30 }

#modaleurope213 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}


#modaleurope214 {
  left: 50%;
  font-size: 0.85em;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modaleurope214:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modaleurope214 h2 {
  margin: 0;
  color: #fff
}

#modaleurope214 .btn { float: right }

#modaleurope214 .copy, #modal .header, #modal .footer {
  padding: 10px 10px 20px 10px;
  color: #fff
}

.modaleurope214-content {
  background: #2A2B30;
  position: relative;
  z-index: 1004;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

#modaleurope214 .copy { background: #2A2B30 }

#modaleurope214 .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #5C5EDC;
}